<template>
  <div>
    <teknoup-header />
    <div class="teknoup-annonce-container">
      <div class="uk-container">
        <div @click="backToHome" style="cursor: pointer" class="teknoup-mb">
          <span uk-icon="icon: reply; ratio: 2"></span>
          <span class="teknoup-pl" style="font-size: 22px">Retour</span>
        </div>
        <div class="teknoup-pt teknoup-annonce-box-details">
          <h2 class="teknoup-pt title">
            Détails de l'annonce
          </h2>
          <div v-if="isLoading" class="uk-text-center teknoup-pt">
            <span
              class="teknoup-snipper"
              data-uk-spinner="ratio: 2"
            />
          </div>
          <div v-else class="teknoup-pt">
            <div class="by-section">
              <strong>Titre : </strong>
              {{crrAnnonce.name}}
            </div>
            <div class="by-section">
              <strong>Description : </strong>
              {{crrAnnonce.desc}}
            </div>
            <div class="by-section teknoup-pt">
              <img :src="getFileUploaded(crrAnnonce.img)" alt="annonce" class="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <teknoup-footer />
  </div>
</template>
<script>
import "./Style.css";
import { mapGetters, mapActions } from "vuex";
import global from "@/config/global";
import { mixin } from "@/mixins/mixin";

export default {
  data() {
    return {
      isLoading: false,
      isSuccess: false,
      isError: false,
      global: {},
      crrAnnonce: {},
    };
  },
  created() {
    this.global = global;
  },
  mounted() {
    this.fetchGetAnnonce()
  },
  computed: {
    ...mapGetters("setting", []),
  },
  methods: {
    ...mapActions("setting", [
      "applyGetAnnonce",
    ]),
    getFileUploaded(url) {
      return mixin.methods.getFileUploaded(url)
    },
    async fetchGetAnnonce() {
      this.isLoading = true;
      try {
        this.crrAnnonce = await this.applyGetAnnonce({ id: this.$route.query.id })

        this.isLoading = false
      } catch (err) {
        this.isLoading = false
      }
    },
    backToHome() {
      this.$router.push({ name: "Home" })
    }
  },
  watch: {},
  components: {},
};
</script>

<style>
</style>