.teknoup-annonce-container {
    background: #F8F8F8;
    padding: 70px 0px 70px 0px;
}
.teknoup-annonce-box-details .title {
    text-decoration: underline;
}
.teknoup-annonce-box-details .by-section {
    margin-bottom: 15px;
    font-size: 19px;
}