:root {
    --teknoup-primary: #3487EA;
    --teknoup-success: #28C76F;
    --teknoup-danger: #EA5455;
    --teknoup-warning: #FF9F43;
    --teknoup-black: #000000;
    --teknoup-white: #ffffff;
    --teknoup-silver: #EFF1F1;
}

html,
body {
    font-family: 'Source Sans Pro' !important;
    background: #F8F8F8;
    color: var(--teknoup-black);
}

.teknoup-snipper svg circle {
    stroke-width: 1px !important;
    stroke: var(--teknoup-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope' !important;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: var(--teknoup-primary) !important;
}

.uk-notification-message {
    background-color: #eeeeee!important;
    font-size: 18px!important;
}
/*
.uk-modal {
    background: rgba(0, 0, 0, 0.7) !important;
}

.uk-modal-dialog {
    background: none !important;
}
*/
.teknoup-pl {
    padding-left: 10px;
}
.teknoup-pr {
    padding-right: 10px;
}
.teknoup-pt {
    padding-top: 10px;
}
.teknoup-pb {
    padding-bottom: 10px;
}
.teknoup-ml {
    margin-left: 10px;
}
.teknoup-mr {
    margin-right: 10px;
}
.teknoup-mt {
    margin-top: 10px;
}
.teknoup-mb {
    margin-bottom: 10px;
}

.teknoup-box-form-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)!important;
    color: white!important;
    background: black!important;
}

.teknoup-box-form-container .uk-card-body {
    padding: 70px 35px 60px 35px;
}

.teknoup-box-form-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.teknoup-box-form-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-top: -18px;
}

.teknoup-box-form-label {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 8px;
}   

.teknoup-box-form-text-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
} 

.teknoup-box-form-text-link a, .teknoup-box-form-text-link a:hover {
    color: white;
    text-decoration: underline;
}

.teknoup-box-form-field-infos {
    font-weight: 500;
    font-size: 12px;
    color: #DADEE3;
    margin-left: 20px;
    margin-top: 6px;
}

.teknoup-box-form-field-input {
    margin-top: 0px!important;
    color: black!important;
    background: #FFFFFF!important;
    font-weight: bold!important;
    font-size: 14px!important;
    border: 1px solid #6D7580!important;
    box-sizing: border-box!important;
    border-radius: 8px!important;
    width: 100%!important;
}

.teknoup-box-form-field-textarea {
    border: 1px solid #6D7580!important;
    color: black!important;
}

.teknoup-box-form-erros-msg {
    font-size: 11px;
    color: red;
    padding-top: 3px;
    padding-left: 5px;
}

.teknoup-box-form-wrap {
    margin-bottom: 24px;
}

.teknoup-box-form-inline {
    display: block!important;
}
