<template>
  <div>
    
  </div>
</template>
<script>
import "./Style.css";
import { mapGetters, mapActions } from "vuex";
import global from "@/config/global";

export default {
  data() {
    return {
      isLoading: false,
      isSuccess: false,
      isError: false,
      global: {},
    }
  },
  created() {
    this.global = global;
  },
  mounted() {
  },
  computed: {
    ...mapGetters("setting", []),
  },
  methods: {
    ...mapActions("setting", []),
  },
  watch: {},
  components: {
  },
};
</script>

<style>
</style>