<template>
  <div>
    <teknoup-header />
    <div class="teknoup-home-container">
      <div class="uk-container">
        <div>
          <button
            @click="showAddForm = true"
            class="
              uk-button uk-button-default
              teknoup-home-box-form-button
            "
          >
            <span>
              <span uk-icon="icon: plus"></span>
            </span>
            <span> Ajouter une annonce</span>
          </button>
        </div>
        <!-- Formulaire Ajout -->
        <vk-modal :show.sync="showAddForm" class="teknoup-box-modal-full">
          <vk-modal-close @click="showAddForm = false"></vk-modal-close>
          <vk-modal-title>Ajouter une annonce</vk-modal-title>
          <div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Titre</div>
              <input
                class="uk-input teknoup-box-form-field-input"
                type="text"
                placeholder=""
                name="name"
                v-model="form.name"
                v-validate="'required'"
                data-vv-validate-on="blur"
              />
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('name')"
              >
                {{ global.requiredMessage }} 
              </div>
            </div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Description</div>
              <textarea
                class="uk-textarea teknoup-box-form-field-textarea" rows="5" placeholder="Saisir ici.."
                name="desc"
                v-model="form.desc"
                v-validate="'required'"
                data-vv-validate-on="blur"
              ></textarea>
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('desc')"
              >
                {{ global.requiredMessage }} 
              </div>
            </div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Image</div>
              <div uk-form-custom>
                <input type="file" name="img" @change="selectedFilePicture($event)">
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Choisir ici</button>
              </div>
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('img')"
              >
                {{ global.requiredMessage }}
              </div>
              <div v-if="displayFileName" style="padding-top:15px">
                Nom du fichier : <strong>{{ form.img }}</strong>
              </div>
              <div
                class="teknoup-box-form-erros-msg"
                v-show="formError"
              >
                Erreur lors du chargement du fichier
              </div>
            </div>
          </div>
          <div>
            <vk-grid>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div style="display: flex">
                  <button @click="addAnnonce" :disabled="!validateAddAnnonceForm || isLoadingAddAnnonce" class="uk-button uk-button-default teknoup-home-box-form-button">
                    <span
                      v-if="isLoadingAddAnnonce"
                      class="teknoup-snipper"
                      data-uk-spinner="ratio: 1"
                    />
                    <span v-else> Ajouter </span>
                  </button>
                </div>
              </div>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div class="uk-text-right">
                  <button @click="showAddForm = false" class="uk-button uk-button-default teknoup-home-box-form-button-close">
                    Annuler
                  </button>
                </div>
              </div>
            </vk-grid>
          </div>
        </vk-modal>

        <!-- Formulaire Update -->
        <vk-modal :show.sync="showUpdateForm" class="teknoup-box-modal-full">
          <vk-modal-close @click="showUpdateForm = false"></vk-modal-close>
          <vk-modal-title>Mise à jour d'annonce</vk-modal-title>
          <div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Titre</div>
              <input
                class="uk-input teknoup-box-form-field-input"
                type="text"
                placeholder=""
                name="name"
                v-model="formUpdated.name"
                v-validate="'required'"
                data-vv-validate-on="blur"
              />
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('name')"
              >
                {{ global.requiredMessage }} 
              </div>
            </div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Description</div>
              <textarea
                class="uk-textarea teknoup-box-form-field-textarea" rows="5" placeholder="Saisir ici.."
                name="desc"
                v-model="formUpdated.desc"
                v-validate="'required'"
                data-vv-validate-on="blur"
              ></textarea>
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('desc')"
              >
                {{ global.requiredMessage }} 
              </div>
            </div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">Image</div>
              <div uk-form-custom>
                <input type="file" name="img" @change="selectedFilePictureUpdate($event)">
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Choisir ici</button>
              </div>
              <div
                class="teknoup-box-form-erros-msg"
                v-if="errors.first('img')"
              >
                {{ global.requiredMessage }}
              </div>
              <div v-if="displayFileUpdatedName" style="padding-top:15px">
                Nom du fichier : <strong>{{ formUpdated.img }}</strong>
              </div>
              <div
                class="teknoup-box-form-erros-msg"
                v-show="formError"
              >
                Erreur lors du chargement du fichier
              </div>
            </div>
          </div>
          <div>
            <vk-grid>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div style="display: flex">
                  <button @click="updateAnnonce" :disabled="!validateUpdateAnnonceForm || isLoadingUpdateAnnonce" class="uk-button uk-button-default teknoup-home-box-form-button">
                    <span
                      v-if="isLoadingUpdateAnnonce"
                      class="teknoup-snipper"
                      data-uk-spinner="ratio: 1"
                    />
                    <span v-else> Mettre à jour </span>
                  </button>
                </div>
              </div>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div class="uk-text-right">
                  <button @click="showUpdateForm = false" class="uk-button uk-button-default teknoup-home-box-form-button-close">
                    Annuler
                  </button>
                </div>
              </div>
            </vk-grid>
          </div>
        </vk-modal>

        <!-- Formulaire Remove -->
        <vk-modal :show.sync="showRemoveForm" class="teknoup-box-modal-full">
          <vk-modal-close @click="showRemoveForm = false"></vk-modal-close>
          <vk-modal-title>Supprimer une annonce</vk-modal-title>
          <div>
            <div class="teknoup-box-form-wrap">
              <div class="teknoup-box-form-label">
                Êtes-vous sûre de vouloir supprimer ( {{ form.name }} )?
              </div>
            </div>
          </div>
          <div>
            <vk-grid>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div style="display: flex">
                  <button @click="deleteAnnonce" :disabled="isLoadingDeleteAnnonce" class="uk-button uk-button-default teknoup-home-box-form-button">
                    <span
                      v-if="isLoadingDeleteAnnonce"
                      class="teknoup-snipper"
                      data-uk-spinner="ratio: 1"
                    />
                    <span v-else> Supprimer </span>
                  </button>
                </div>
              </div>
              <div class="uk-width-1-2@m uk-width-1-2@s">
                <div class="uk-text-right">
                  <button @click="showRemoveForm = false" class="uk-button uk-button-default teknoup-home-box-form-button-close">
                    Annuler
                  </button>
                </div>
              </div>
            </vk-grid>
          </div>
        </vk-modal>




        <div class="teknoup-home-list-annonce-wrap">
          <h2 class="title">
            Liste des annonces immobilières
          </h2>
          <div v-if="isLoading" class="uk-text-center teknoup-pt">
            <span
              class="teknoup-snipper"
              data-uk-spinner="ratio: 2"
            />
          </div>
          <div class="teknoup-home-list-annonce-content" v-else>
            <vk-grid class="uk-child-width-1-3@m uk-child-width-1-1@s" v-if="allAnnonce.length !== 0">

              <div :key="indextr" v-for="(item, indextr) in allAnnonce">
                <vk-card>
                  <div slot="media-top">
                    <img :src="getFileUploaded(item.img)" alt="annonce" class="teknoup-home-card-file-content">
                  </div>
                  <div>
                    <vk-card-title>{{item.name}}</vk-card-title>
                    <p>
                      {{item.desc}}
                    </p>
                  </div>
                  <div slot="footer">
                    <vk-button type="secondary" class="teknoup-mr teknoup-mb" @click="onViewAnnonce(item)">Voir</vk-button>
                    <vk-button type="primary" class="teknoup-mr teknoup-mb" @click="checkUpdatedAnnonce(item)"><span uk-icon="icon: file-edit; ratio: 1.2"></span></vk-button>
                    <vk-button type="danger" class="teknoup-mb" @click="checkRemoveAnnonce(item)"><span uk-icon="icon: trash; ratio: 1.2"></span></vk-button>
                  </div> 
                </vk-card>
              </div>
              
            </vk-grid>
            <div v-else class="teknoup-home-notfound-annonce">
              Aucune annonce disponible ...
            </div>
          </div>
        </div>
      </div>
    </div>
    <teknoup-footer />
  </div>
</template>
<script>
import "./Style.css";
import { mapGetters, mapActions } from "vuex";
import global from "@/config/global";
import { mixin } from "@/mixins/mixin";

export default {
  data() {
    return {
      isLoading: false,
      isLoadingAddAnnonce: false,
      isLoadingUpdateAnnonce: false,
      isLoadingDeleteAnnonce: false,
      isSuccess: false,
      isError: false,
      global: {},
      showAddForm: false,
      showUpdateForm: false,
      showRemoveForm: false,
      changeFileForUpdated: false,
      formData: {},
      formDataUpdated: {},
      formError: false,
      displayFileName: false,
      displayFileUpdatedName: false,
      crrID: "",
      formUpdated: {
        name: "",
        desc: "",
        img: "",
      },
      form: {
        name: "",
        desc: "",
        img: "",
      }
    };
  },
  created() {
    this.global = global;
  },
  mounted() {
    this.fetchGetAllAnnonce()
  },
  computed: {
    ...mapGetters("setting", ["allAnnonce"]),
    validateAddAnnonceForm() {
      return (
        !this.errors.any() &&
        this.form.name != "" &&
        this.form.desc != "" &&
        this.form.img != ""
      )
    },
    validateUpdateAnnonceForm() {
      return (
        !this.errors.any() &&
        this.formUpdated.name != "" &&
        this.formUpdated.desc != "" &&
        this.formUpdated.img != ""
      )
    },
  },
  methods: {
    ...mapActions("setting", [
      "applyUploadFile",
      "applyGetAllAnnonce",
      "applyGetAnnonce",
      "applyAddAnnonce",
      "applyUpdateAnnonce",
      "applyRemoveAnnonce",
    ]),
    acceptAlert(message, status) {
      UIkit.notification({
        message,
        status, 
        pos: "top-center",
      });
    },
    getFileUploaded(url) {
      return mixin.methods.getFileUploaded(url)
    },
    onViewAnnonce(item) {
      this.$router.push({ name: "ViewAnnonce", query: { id: item.id } })
    },
    async fetchGetAllAnnonce() {
      this.isLoading = true;
      try {
        await this.applyGetAllAnnonce()

        this.isLoading = false
      } catch (err) {
        this.isLoading = false
      }
    },
    async addAnnonce() {
      if (!this.validateAddAnnonceForm) return false;
      this.isLoadingAddAnnonce = true;

      try {
        let fileDataUp = await this.applyUploadFile(this.formData);

        let data = {
          ...this.form,
          img: fileDataUp.data[0].uploadedName,
        };
        await this.applyAddAnnonce(data);
        this.acceptAlert("Annonce ajoutée avec succès", "success");

        this.form = {
          name: "",
          desc: "",
          img: "",
        }
        this.isLoadingAddAnnonce = false;
        this.displayFileName = false;
        this.formData = {}

        this.showAddForm = false
      } catch (err) {
        console.log(err)
        this.isLoadingAddAnnonce = false;
        this.isError = true;
        this.acceptAlert("Erreur lors de l'ajout", "danger");
      }
    },
    async checkUpdatedAnnonce(annonce) {
      this.formUpdated = {
        ...annonce,
      }
      this.showUpdateForm = true;
    },
    async updateAnnonce() {
      this.isLoadingUpdateAnnonce = true;
      if (!this.validateUpdateAnnonceForm) return false;

      let data = {
        ...this.formUpdated,
        _id: this.formUpdated.id,
      }
      if (this.changeFileForUpdated) {
        let fileDataUp = await this.applyUploadFile(this.formDataUpdated);
        data.img = fileDataUp.data[0].uploadedName;
      }

      try {
        await this.applyUpdateAnnonce(data)
        this.acceptAlert("Annonce mise à jour avec succès", "success")

        this.displayFileUpdatedName = false;
        this.isLoadingUpdateAnnonce = false;
        this.showUpdateForm = false

        this.formUpdated = {}
      } catch (err) {
        console.log(err)
        this.isLoadingUpdateAnnonce = false;
        this.isError = true;
        this.acceptAlert("Erreur mise à jour", "danger");
      }
    },
    async selectedFilePictureUpdate(evt) {
      this.changeFileForUpdated = true;
      this.formDataUpdated = new FormData();

      this.formDataUpdated.append("uri", evt.target.files[0]);
      this.formError = false;

      try {
        this.formUpdated.img = evt.target.files[0].name;
        this.displayFileUpdatedName = true;
      } catch (err) {
        this.formError = true;
      }
    },
    async selectedFilePicture(evt) {
      this.formData = new FormData();

      this.formData.append("uri", evt.target.files[0]);
      this.formError = false;

      try {
        this.form.img = evt.target.files[0].name;
        this.displayFileName = true;
      } catch (err) {
        this.formError = true;
      }
    },
    checkRemoveAnnonce(item) {
      this.crrID = item.id
      this.form = { ...item }
      this.showRemoveForm = true
    },
    async deleteAnnonce() {
      this.isLoadingDeleteAnnonce = true 

      let data = {
        annonceId: this.form.id,
      }
      try {
        await this.applyRemoveAnnonce(data)
        this.acceptAlert("Suppression avec succès", "success")

        this.isLoadingDeleteAnnonce = false;
        this.showRemoveForm = false

        this.form = {
          name: "",
          desc: "",
          img: "",
        }
      } catch (err) {
        console.log(err)
        this.isLoadingDeleteAnnonce = false;
        this.isError = true;
        this.acceptAlert("Erreur suppression", "danger");
      }
    }
  },
  watch: {},
  components: {},
};
</script>

<style>
</style>