.teknoup-home-container {
    background: #F8F8F8;
    padding: 70px 0px 70px 0px;
}
.teknoup-home-card-file-content {
    height: 300px;
    width: -webkit-fill-available;
}

.teknoup-home-box-form-button, .teknoup-home-box-form-button:hover, .teknoup-home-box-form-button:active {
    border: 1px solid var(--teknoup-primary)!important;
    background-color: var(--teknoup-primary)!important;
    border-radius: 8px!important;
    text-transform: none!important;
    color: white!important;
    font-weight: bold!important;
    font-size: 16px!important;
    font-style: normal!important;
    padding: 0px 50px 0px 50px!important;
    display: initial!important;
    height: 50px;
}

.teknoup-home-box-form-button:disabled, .teknoup-home-box-form-button-close:disabled {
    border: 1px solid rgb(114, 113, 113)!important;
    background-color: transparent!important;
    color: rgb(114, 113, 113)!important;
}

.teknoup-home-box-form-button-close, .teknoup-home-box-form-button-close:hover, .teknoup-home-box-form-button-close:active {
    border: 1px solid #e14f4f!important;
    background-color: #e14f4f!important;
    border-radius: 8px!important;
    text-transform: none!important;
    color: white!important;
    font-weight: bold!important;
    font-size: 16px!important;
    font-style: normal!important;
    padding: 0px 50px 0px 50px!important;
    display: initial!important;
    height: 50px;
}

.teknoup-home-list-annonce-wrap {
    padding-top: 50px;
    padding-bottom: 100px;
}
.teknoup-home-list-annonce-wrap .title {
    color: black;
    font-weight: bold;
}

.teknoup-home-notfound-annonce {
    padding-top: 30px;
    font-size: 20px;
    color: red;
}
.teknoup-box-modal-full-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: black;
}
.teknoup-box-modal-full .uk-modal-dialog {
    background: white;
    border-radius: 16px;
    color: black;
}
.teknoup-box-modal-full .uk-modal-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: black;
}
.teknoup-box-modal-full .uk-close {
    color: black;
}